# Ignore everything by default
*

# But not these files (required for tunePIDTable.py and tunePID_korad.py)
!tunePIDTable.py
!tunePID_korad.py
!requirements.txt
!Korad.py
!TDKLambda.py
!Pyrometer.py
!PID.py
!ZieglerNicholsAutoTuner.py
!AdaptivePIDController.py
!InputHandler.py

# Do not ignore .gitignore itself
!.gitignore